<div class="d-flex justify-content-center align-items-center w-100">
    <div class="w-50">
        <h3 class="mb-4">Añadir nuevo superhéroe</h3>
        <div class="mb-4">
            <form class="form-group" [formGroup]="form">
                <div>
                    <label>Nombre</label>
                    <input class="form-control" #input toUpperCase [inputValue]="input.value" formControlName="nombre" type="text" maxlength="50">
                </div>
                <div>
                    <label>Descripción</label>
                    <textarea class="form-control" rows="10" formControlName="descripcion" maxLength="700"></textarea>
                </div>
            </form>
        </div>
        <button class="btn btn-primary" (click)="add()"><fa-icon class="mr-2" [icon]="faUserPlus"></fa-icon>Añadir</button>
    </div>
</div>
